<!DOCTYPE html>
<html lang="en" prefix="dtx: http://vocab.datex.org/terms# scm: http://www.schema.org">
  <head>
    <meta charset="utf-8">
    <title>Pieter-Jan's Home parking</title>
    <meta name="description" content="Pieter-Jan's Home parking'">
    <meta name="author" content="Pieter-Jan Geeroms">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
  </head>
</html>
<body>
  <Header>
    <h1> <a>PJ's Home parking</a></h1>
    <nav>
      <ul>
        <li><a href="{{ app.request.baseUrl }}">Home</a></li>
      </ul>
    </nav>
  </Header>
  <main>
    <article typeof="dtx:ParkingSite" resource="{{app.request.baseUrl}}#parking">
      <h2 property="dtx:parkingName">{{data.name}}</h2>
      <p property="dtx:parkingSiteAddress">{{data.address}}</p>
      <p property="dtx:ParkingLocation">{{data.city}}</p>
      <p property="dtx:contactDetailsTelephoneNumber">{{data.telephone}}</p>
      <p property="dtx:parkingDescription">{{data.description}}</p>
      <img src="https://maps.googleapis.com/maps/api/staticmap?&zoom=13&size=600x300&maptype=roadmap&markers=color:red|{{data.latitude}},{{data.longitude}}&key=AIzaSyA8Tawxe7x2cpGiTpvOh35xHe8dUZsjsFg" alt="{{data.description}}">
      <!-- todo: different api key? -->
      <p>spaces: <span property="dtx:parkingSpaceOccupied">{{data.occupied}}</span>/<span property="dtx:totalCapacity">{{data.maxSpace}}</span></p>
    </article>
  </main>
  <footer><span>No &copy; cuz this is OpenData!</span></footer>
</body>
